// 颜色选择


// 主色
$color-primary: #3d9afe;
$color-attach: #11a7b5;
$color-attach-green: #41ac52;
$color-button:linear-gradient(to left, #3ea4fe 0%,#3987fc 100%);
$color-box-shadow:0px 2px 12px rgba(0,0,0,.2);
$color-box-shadow-bottom:0px 10px 13px rgba(0,0,0,.2);
$color-box-shadow-icon:0px 2px 8px rgba(0,0,0,.2);

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

/* theme color */
// $--color-primary: #1890ff;
// $--color-success: #13ce66;
// $--color-warning: #FFBA00;
// $--color-danger: #ff4949;
// $--color-info: #1E1E1E;

// 文字
$color-text-main: #555555;
$color-text-sub: #c2c2c2;
$color-text-placehoder: #C0C4CC;
$color-text-time: #999999;

// 边框
$color-border-1: #e9e9ef;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;
$color-marrs-green: #008c8c;
$color-marrs-green: #009e9d;
$color-marrs-light-green: #02dec5;
// 背景
$color-bg: #f8f8f9;
$color-icon-bg: #ffebea;
$color-attach-bg: #ebf9ff;
$color-paramary-bg: #f23b26;


// 排行榜颜色
$color-bg1: rgba(64,158,255,.3);
$color-bg2: rgba(103,194,58,.3);
$color-bg3: rgba(230,162,60,.3);
$color-bg4: rgba(245,108,108,.3);
$color-bg5: rgba(245,108,108,.3);
$color-bg6: rgba(245,108,108,.3);
$color-bg7: rgba(245,108,108,.3);

$background: #fae566;
$background: #00c133;
$background: #00c5ff;
$color: yellowgreen;

// hover颜色
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

